# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Maven (https://github.com/github/gitignore/blob/master/Maven.gitignore)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# TestNG
test-output/

# OS X
.DS_Store
